{% extends "base.html" %}
{% block body %}
<h1>{{ doc.slug }}</h1>

<h2>Data</h2>

<dl class="dl-horizontal">
    <dt>Title</dt>
    <dd>{{ doc.title }}</dd>
    <dt>Author</dt>
    <dd>{{ doc.author }}</dd>
    <dt>Date</dt>
    <dd>{{ doc.date }}</dd>
</dl>

<h2>Actions</h2>


<form class="btn-group btn-group-lg" action="/docs/{{ doc.slug }}/act/" method="POST">
    <button title="View" type="submit" name="act" value="view"
        class="btn btn-primary"><i class="icon-eye-open"></i>
        View</button>
    <button title="Reload data from file" type="submit"
        name="act" value="reload" class="btn btn-success"><i
            class="icon-refresh"></i> Reload data from file</button>
    <button title="Render" type="submit" name="act"
        value="render" class="btn btn-info"><i
            class="icon-cog"></i> Render</button>
    <button title="Delete" type="submit" name="act"
        value="delete" class="btn btn-danger"><i
            class="icon-trash"></i> Delete</button>
</form>

{% endblock body %}
